.container {
    margin: auto;
    width: 1240px;
}

/*********************************************/
/************TOP SECTION begin****************/
/*********************************************/

.top-column-left {
    width: 197px;

    height: 1px;
}
.top-column-right {
    width: 291px;

    height: 1px;
}
.top-column-center {
    width: 752px;
}

/*************TITLE*****************/

.title {
    margin-left: -8px;
    position: absolute;
    text-transform: uppercase;
    top: 70px;
    width: 888px;
}
.wrapper--title-content {
    float: left;
}
.wrapper--title-category {
    border-right: 0;
    float: left;
}
.title__category {
    border: 4px solid black;
    border-right: 0;
    height: 40px;
    padding-left: 13px;
    position: absolute;
    width: 102px;
}
.title__content {
    border: 4px solid black;
    padding: 31px 32px 26px 38px;
    position: absolute;
}
.title__content h1 {
    font-family: GothaProBla;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.14;
}
.title__category span {
    font-family: ProximaNovaBold;
    font-size: 14px;
    line-height: 2.29;
}

/*****************DESCRIPTION************/

.description {
    padding: 0 100px;
    margin-top: 400px;
}
.description span {
    font-family: ProximaNovaBold;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.06;
}

.top-image {
    height: 640px;
    margin-top: 40px;
    width: inherit;
}
.top-image img {
    height: 640px;
    width: inherit;
}
.image-overlay {
    background: url(../images/backgrounds/dots.png);
    background-size: 95px;
}

/*********************************************/
/************TOP SECTION end******************/
/*********************************************/

/*********************************************/
/**********MIDDLE SECTION begin***************/
/*********************************************/

.middle-section {
    border-bottom: 4px solid black;
    margin-top: 60px;
    margin-bottom: 80px;
}
.middle-column-left {
    width: 125px;
}
.middle-column-right {
    height: 1px;
    width: 229px;
}
.middle-column-center {
    width: 886px;
}

/*************ARTICLE INFO***************/

.article-info__date {
    border: 2px solid #111111;
    height: 50px;
    padding-top: 9px;
    text-align: center;
    width: 125px;
}
.article-info__date span {
    font-family: ProximaNovaRegular;
    font-size: 13px;
    line-height: 2.46;
}

.views__icon {
    border: 2px solid #111111;
    border-top: 0;
    float: left;
    height: 50px;
    width: 50px;
}
.views__count {
    border: 2px solid #111111;
    border-top: 0;
    border-left: 0;
    float: left;
    height: 50px;
    padding-top: 19px;
    text-align: center;
    width: 75px;
}

/*************ARTICLE AUTHOR************/

.article-author__block {
    float: left;
    height: 80px;
}
.article-author__photo {
    border: 2px solid black;
    width: 80px;
}
.article-author__divider {
    border: 2px solid black;
    border-left: 0;
    background: url(../images/backgrounds/dots.png);
    background-size: 95px;
    width: 8px;
}
.article-author__info {
    border: 2px solid black;
    border-left: 0;
    padding: 13px 0 0 30px;
    width: 141px;
}
.info__name span {
    font-family: ProximaNovaBold;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.07;
}
.info__profession span {
    font-family: ProximaNovaRegular;
    font-size: 14px;
    line-height: 1.07;
    text-transform: lowercase;
}

/************ARTICLE******************/

.article {
    color: #222222;
}
.article__section {
    margin-bottom: 60px;
}
.article__content {
    color: #222222;
    padding: 0 89px 0 192px;
}
.article__content h2 {
    color: black;
    font-family: ProximaNovaBold;
    font-size: 36px;
    line-height: 1.06;
    margin-bottom: 30px;
}
.article__content p, .article__content span {
    font-family: ProximaNovaRegular;
    font-size: 20px;
    line-height: 1.5;
}
.article__section--first p::first-letter {
    color: black;
    float: left;
    font-family: ProximaNovaBold;
    font-size: 110px;
    font-weight: bold;
    line-height: 0.82;
    margin-right: 10px;
}

/****************MEDIA вставки - цитаты, фото, видео********************/

.media-section {
    margin-top: 60px;
}

/*****************Большая цитата************************/

.quote--big {
    width: inherit;
}
.quote--big__icon-block {
    border-right: 4px solid #111111;
    float: left;
    width: 140px;
}
.wrapper--quote-big-icon {
    border-right: 0;
    margin-left: 10px;
}
.quote--big__icon{
    left: -14px;
    height: 140px;
    width: 140px;
}
.quote--big__content {
    float: left;
    padding-left: 50px;
    width: 741px;
}
.quote--big__content span {
    font-family: ProximaNovaBold;
    font-size: 27px;
    font-weight: bold;
    line-height: 1.48;
}

/***************Цитата c автором*******************/

.quote--lite {
    margin-left: 180px;
}
.quote--lite__block {
    width: 706px;
}
.quote--lite__icon {
    border-right: 4px solid black;
    float: left;
    height: 142px;
    width: 50px;
}
.quote--lite__content {
    float: left;
    padding: 26px 0 0 40px;
    width: 648px;
}
.wrapper--quote-lite-author {
    border-top: 0;
}
.quote--lite__author {
    padding: 5px 30px;
}
.quote--lite__author span {
    font-family: ProximaNovaRegular;
    font-size: 13px;
    line-height: 2.31;
}

/*******************Фото, видео*************/

.image {
    margin-left: 190px;
}
.image__block {
    height: 462px;
    width: 694px;
}
.image__block img, .image__block iframe {
    height: 454px;
    width: 686px;
}
.wrapper--image-author {
    border-top: 0;
}
.image__author {
    padding: 5px 20px;
}
.image__author span {
    font-family: ProximaNovaBold;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.31;
}

/**************Ссылки**************/

.quote--link__block {
    height: 110px;
}

.internal-link {
    margin-left: 185px;
}
.internal-link__image img {
    height: 192px;
    width: 292px;
}
.wrapper--internal-link-image, .internal-link__block {
    float: left;
}
.internal-link__title {
    border-left: 0;
    height: 93px;
    padding: 19px 30px;
    width: 398px;
}
.link-announce {
    margin-top: 2px;
}
.link-announce span {
    font-family: ProximaNovaRegular;
    font-size: 15px;
    line-height: 1.33;
}
.internal-link__block--mini {
    height: 50px;
}
.internal-link__miniblock {
    border-right: 4px solid black;
    float: left;
    height: 46px;
    padding: 13px 20px;
}
.wrapper--internal-link-miniblock {
    border-left: 0;
    border-top: 0;
}
.internal-link__count {
    border-right: 0;
}
.internal-link-lite__title {
    border-left: 4px solid black;
}
.wrapper--internal-link-lite-miniblock {
    border-left: 4px solid black;
    border-top: 0;
}
/*********************************************/
/************MIDDLE SECTION end***************/
/*********************************************/

/*********************************************/
/************BOTTOM SECTION begin*************/
/*********************************************/

/****************COMMENTS*******************/

.comments {

}
.wrapper--comments {
    height: 130px;
    margin: 0 auto 16px;
    width: 965px;
}
.comments-block {
    height: 130px;
}
.comments__item {
    float: left;
    padding: 35px 50px;
}
.comments__icon {
    border-right: 4px solid black;
    height: 122px;
    width: 198px;
}
.comments__title {
    border-right: 4px solid black;
    height: 122px;
    width: 597px;
}
.comments__title span {
    font-family: GothaProBla;
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
.comments__count span {
    font-family: GothaProBla;
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
.disqus {
    border: 4px solid black;
    display: none;
    margin: auto;
    padding: 20px 30px 25px;

    width: 970px;
    height: 500px;
}

/*****************BLACK SECTION**************/

.black-section {
    background: url(../images/backgrounds/waves.png);
    border-bottom: 4px solid black;
    margin-top: 56px;
    padding: 80px 0;
    position: relative;
}

/*.black-section-background {*/
    /*background: url(../images/backgrounds/waves.png);*/
    /*height: 100%;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
/*}*/

.social {
    background: white;
    border: 4px solid black;
    margin: auto;
    width: 1240px;
}
.wrapper--title-category-social, .title__category--social {
    border-right: 4px solid black;
}
.social__top {
    border-bottom: 4px solid black;
    height: 130px;
}
.social__title {
    border-right: 4px solid black;
    float: left;
    padding: 37px 0 37px 50px;
    width: 431px;
}
.social__logo {
    float: left;
}
.social__logo span {
    text-transform: uppercase;
}
.social__logo span {
    font-family: GothaProBla;
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
}
.social__category {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}
.social__info {
    float: left;
    padding: 45px 0 45px 50px;
}
.social__info span {
    font-family: ProximaNovaRegular;
    font-size: 18px;
    line-height: 1.11;
}
.social__socials {
    height: 121px;
    padding: 54px 0 0 305px;
    width: inherit;
}
.social__icon {
    background: red;
    float: left;
    margin-right: 80px;

    height: 20px;
    width: 20px;
}

/**************BLUE SECTION*****************/

.blue-section {
    background: #6424ff;
    padding: 80px 0;
    position: relative;
}
.blue-section-background {
    background: url(../images/backgrounds/zigzag.png);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.news {
    margin: auto;
    width: 1240px;
}
.news__item {
    float: left;
    margin-right: 30px;
}
.news__image {
    height: 255px;
    width: 383px;
}
.news__image img {
    height: 247px;
    width: 375px;
}
.news__title {
    height: 108px;
    padding: 24px 30px;
    width: 383px;
}
.news-title span {
    font-family: ProximaNovaBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}
.news-announce {
    margin-top: 2px;
}
.news-announce span {
    font-family: ProximaNovaRegular;
    font-size: 15px;
    line-height: 1.33;
}
.wrapper--news-item-title {
    border-top: 0;
}
.wrapper--news-item-block {
    border-top: 0;
}
.news__miniblock {
    float: left;
    height: 50px;
    padding: 15px 0 0 20px;
}
.news__category {
    border-right: 4px solid black;
    width: 104px;
}
.news__icon {
    border-right: 4px solid black;
    width: 46px;
}
.news__count {
    width: 77px;
}

/*********************************************/
/************BOTTOM SECTION end***************/
/*********************************************/

/************TEST*****************************/

.layer--top {
    background: white;
    border: 4px solid black;
    position: relative;
    width: 706px;
}

.layer--bottom {
    background: url(../images/backgrounds/dots.png);
    background-size: 95px;
    border: 4px solid black;
    left: 4px;
    position: absolute;
    top: 4px;
    z-index: -2;
}

.quote--lite__content--test {
    float: left;
    padding: 26px 48px;
    width: 648px;
}

.quote--lite__icon--test {
    height: 202px;
    width: 50px;
}