* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: GothaProBla;
    src: url(../fonts/GothaProBla.otf)
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNova-Reg.otf)
}
@font-face {
    font-family: ProximaNovaBold;
    src: url(../fonts/ProximaNova-Xbold.otf)
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.text {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.column {
    float: left;
}

.wrapper {
    background: url(../images/backgrounds/dots.png);
    background-size: 95px;
    border: 4px solid black;
    position: relative;
}
.overwrapper {
    background: white;
    border: 4px solid black;
    left: -13px;
    position: absolute;
    top: -12px;
}

.text--mark {
    font-family: ProximaNovaBold;
    font-size: 13px;
    font-weight: bold;
    line-height: 0.92;
    text-transform: uppercase;
}
.text--news-title {
    font-family: ProximaNovaBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}